@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Poppins:wght@400;500;700&display=swap');


/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
*/
:root{
 --black: #171718;
 --black-border:#171718;    
 --white: #fff;
 --purple: #5C62EC;
 --dark-bg: var(--black);
 --dark-border: var(--black-border);
 --header-text: var(--white);
 --main-color:var(--purple);
}


html, body{
font-family: 'DM Sans', sans-serif;
}

.conteiner{
    margin: 0 auto;
max-width: 1200px;
padding: 0 15px;
}


.navigation{
 background-color: var(--dark-border);
 padding: 20px 0;
 border-bottom: 1px solid #26292D;
 color: var(--white);
}
.nav-row{
 display: flex;
 row-gap: 20px;
 column-gap: 30px;
 align-items: center;
 justify-content: space-between;


}
.logo{
    color: var(--white);
    font-family: 'Poppins', sans-serif; 
    font-size: 24px;
    font-weight: 400;
}
.Freelancer-text{
font-weight: 700;
}
.nav-list{
    font-family: 'Poppins', sans-serif; 
    display: flex;
    gap: 40px;
font-size: 16px;
font-weight: 500;
line-height: normal;
}

.nav-list-item{

}
.nav-item-link{
    color: var(--white);
}

.nav-item-link:active{
position: relative;
}
.nav-item-link::before{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    top: 100%;
}


/* HERO-SECTION */


.hero-section{
    background-color: var(--dark-bg);
    color: var(--header-text);
    min-height: 695px;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.hero-conteiner{
    
}
.hero-wrapper{
    max-width: 660px;
    padding: 0 15px;


}

.tittle{
    color: var(--White, #FAFAFA);
font-size: 60px;
letter-spacing: -0.5px;
margin-bottom: 20px;

}
.Konstantin{
    color: var(--main-color);
}
.frontend{
    color: var(--White, #FAFAFA);
font-size: 40px;
}
.tittle-text{
    color: var(--Blanco, #FFF);
font-size: 18px;
font-weight: 500;
line-height: 24px; 
letter-spacing: -0.5px;
margin-bottom: 40px;
}
.cv-button{

}
